h4, h5, h6
{
	text-align: center;
}

a
{
	justify-content: center;
}

footer
{
	background-color: #f29500 !important;
	/*width: 100%;*/
	padding: 10px 0px 10px 0px;
	justify-content: space-between !important;

	position: relative;
    right: 0;
    left: 0;
}

.navbar
{
	background-color: orange; 
}

/*Connexion */

#Connexion
{
	background-image: url(../images/fondAutre_v1.png);
	background-position: center center;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;

}

.card-image {   
  width: auto;
  display: inline-block;    
}

/* Product */

#Product
{
	justify-content: space-around;
}


.Horizontale
{
	display: flex;
	flex-direction: row;
}

#myBtn{
	display: none;
}

#image{
	width: 50px;
	height: 50px;
}

#device{
	width: 50px;
}






