h4, h5, h6
{
	text-align: center;
}

a
{
	justify-content: center;
	
}

footer
{
	background-color: #f29500 !important;/*#2e7d32*/
	/*width: 100%;*/
	padding: 10px 0px 10px 0px;
	justify-content: space-between !important;

	position: relative;
    right: 0;
    left: 0;

    z-index: 0;
}

label
{
	color:black;
}

.card-image {   
  width: 300px;
  display: inline-block;    
}

/*Connexion */

#Connexion
{
	background-image: url(../images/fondAutre_v1.png);
	background-position: center center;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

.titrePage
{
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
}

.margeTop{
	margin-top: 50px;
}

.alignement{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px; 

}
#myBtn{
	display: none;
}


#image{
	width: 100px;
	height: auto;
}

#imageR
{
	width: 50px;
	height: auto;
}

#device{
	width: 50px;
}

/* Product */
 #ImgItem
 {
 	size: cover;
 }

#Panier
{
  position: fixed;
  right: 5%;
  top: 20%;
  height: 100%;
  
  margin: 0px, -10px, 0px, -10px !important;

  z-index: 1;
  
}

#Panier .card-panel
{
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

/* (haut, droite, bas, gauche) */

.ResearchSelects
{
	display: flex;
	justify-content: center;
}

.Resultat
{
	display: flex;
	 flex-wrap: wrap;
	
}

.logoFooter
{
	padding-top: 70px !important;
}