h4, h5, h6
{
	text-align: center;
}

#Connexion
{
	background-image: url(../images/fondAutre_v1.png);
	background-position: center center;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;

}

.card-image {   
  width: auto;
  display: inline-block;    
}

.card-image img {
  width: 30%; /* Will shrink image to 30% of its original width */
  height: auto;    
}​

.BtnSearch{
	justify-content: center;
}

header, footer
{
	display: flex !important;
	flex-direction: row;
	background-color: #f29500 !important;
	/*width: 100%;*/
	padding: 10px 0px 10px 0px;
	justify-content: space-around !important;

	position: relative;
    right: 0;
    left: 0;
}

.navbar
{
	background-color: orange; 
}

